body {
	overflow: hidden;
	background-color: #161616;
}

canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	transform-origin: top left;
	margin: 0;
	display: none;
}

#cover {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 5000px;
	height: 5000px;
	background-color: #161616;
	display: none;
}

h3 {
	color: #161616;
}

h1 {
	color: #161616;
}