body {
	/* overflow: hidden; */
	/* background-color: #161616; */
}

h3 {
	color: #161616;
}

h1 {
	color: #161616;
}

p {
	color: #161616;
	font: betterFont;
}

@font-face {
	font-family: betterFont;
	src: url(assets/font.ttf);
}

* {
	font-family: betterFont;
}